streamlit
openai
pandas
sqlalchemy
langchain
langchain_community
langchain_experimental
Pillow
typing-extensions
langchain-openai
pandasai
python-dotenv
azure-cognitiveservices-speech
pyvis
langchain_openai
SpeechRecognition
PyAudio